[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = ">=2.4"
molecule = ">=2.6"
testinfra = ">=1.10"
python-vagrant = ">=0.5.15"
molecule-vagrant = "*"

[dev-packages]

[requires]
python_version = "3.10"
